body{
  margin: 0;
  width: 100%;
  font-family: 'Fira Mono', monospace;
}

#canvas{
  width: 100%;
}

.name{
  color: white;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  font-size: 4em
}

@media (max-width: 650px) and (orientation: portrait) {
  .name{
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 3em;
  }
}

.name a{
  color: red;
}
